# This is a CODEOWNERS file
# Each line is a file pattern followed by one or more owners.

# The following line sets myself, @Alverto-Ortega, as the owner for everything in the repository
* @Alverto-Ortega
